version: "3.8"
services:
  booking_service:
    build: .
    ports:
      - "5053:5053"
    environment:
      - FLASK_APP=app.py
      - FLASK_RUN_HOST=0.0.0.0
      - DATABASE_URI=postgresql://neondb_owner:Od9UnVJ2Wvfr@ep-square-star-a8fg370g-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require
      - DEBUG_MODE=true
      - MAIL_SERVER=mail.smtp2go.com
      - MAIL_PORT=2525
      - MAIL_USERNAME=support@hashforgamers.co.in
      - MAIL_PASSWORD=h3b:@yasDm
      - MAIL_DEFAULT_SENDER=support@hashforgamers.co.in
      - MAIL_USE_TLS=true
      - MAIL_USE_SSL=false
      - FIREBASE_KEY=<secret key>
      - ENCRYPT_PRIVATE_KEY_PATH=<placeholder>
      - ENCRYPT_PUBLIC_KEY_PATH=<placeholder>
    volumes:
      - .:/app
    command: ["python", "app.py"]
